---
const { name, tooltip, cooldown, img, id } = Astro.props;
---

<div
  class="rounded-lg inline-block max-content"
  data-tooltip-target={id}
  data-tooltip-style="light"
>
  <img src={img} alt={name} />
</div>

<div
  id={id}
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
>
  <p><b>{name}</b></p>
  {cooldown && <p>Cooldown: {cooldown}s</p>}
  <p>{tooltip}</p>
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>