---
import { mountParkingRewards } from "@Content/game_data_en/Mounts.astro";
import type { MountParking } from '@Types/ContentDto.ts';

const { id, content } = Astro.props;
---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <!-- Table -->
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    id={id}
  >
    <!-- Header -->
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center" style="width: 15%;"> Mounts </th>
        <th scope="col" class="px-6 py-3 text-center" style="width: 15%;"> Parking coins / min </th>
        <th scope="col" class="px-6 py-3 text-center" style="width: auto;"> Rewards </th>
      </tr>
    </thead>
    <!-- Header -->
    <!-- Body -->
    <tbody>
      {
        mountParkingRewards.map((row: MountParking) => {
          return (
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="text-center px-6 py-2">
                <img
                  class="w-30 mx-auto"
                  src={row.mount.image}
                  alt={row.mount.name}
                  title={row.mount.name}
                />
              </td>
              <td class="text-center px-6 py-2">
                {row.coins}
              </td>
              <td class="text-left px-6 py-2">
                <div class="flex justify-left gap-x-2">
                  {
                    row.rewards.map((reward) => {
                      return (
                        <img
                          class="w-10 h-10"
                          src={reward.image}
                          alt={reward.name}
                          title={reward.name}
                        />
                      );
                    })
                  }
                </div>
              </td>
            </tr>
          );
        })
      }
    </tbody>
    <!-- Body -->
  </table>
  <!-- Table -->
</div>
