---
const sliders = [
  {
    title: 'Summer Party Event',
    date: 'July 12th, 2024',
    //url: '/en/news/summer-party-event',
    url: null,
    image: 'news/summer-party-event/home-banner.webp',
    discord: 'https://discord.com/channels/1196745368793264128/1196767045602250752/1260911324318404679',
    enabled: true
  },
  {
    title: 'B.Duck Collaboration Event',
    date: 'June 21th, 2024',
    url: '/en/news/bduck-collaboration-event',
    image: 'news/bduck-collaboration-event/home-banner.webp',
    discord: 'https://discord.com/channels/1196745368793264128/1196745369330122774/1252200202715009034',
    enabled: true
  },
  {
    title: 'Survive the Battlegrounds',
    date: 'June 7th, 2024',
    //url: '/en/news/survive-the-battlegrounds-event',
    url: null,
    image: 'news/survive-the-battlegrounds-event/home-banner.webp',
    discord: 'https://discord.com/channels/1196745368793264128/1196767045602250752/1248215134774755378',
    enabled: true
  },
  {
    title: 'The Gold Bar Theft Event',
    date: 'April 12th, 2024',
    url: '/en/news/gold-bar-theft-event',
    image: 'news/gold-bar-theft-event/home-banner.webp',
    discord: 'https://discord.com/channels/1196745368793264128/1196767045602250752/1227932070253297665',
    news: '/en/news/gold-bar-theft-event',
    enabled: false
  },
  {
    title: 'Reversal Showdown Event',
    date: 'April 8th, 2024',
    url: '/en/news/reversal-showdown-event',
    image: 'news/reversal-showdown-event/home-banner.webp',
    discord: 'https://discord.com/channels/1196745368793264128/1196767045602250752/1225824762404540426',
    news: '/en/news/reversal-showdown-event',
    enabled: false
  }
]
---

<div class="w-full max-w-[1320px] mx-auto min-w-[1500px]:px-[90px]">
  <div class="h-[420px] md:h-[460px] lg:h-[660px] relative z-10">

    <!-- Banner Content -->
    <div class="swiper js-vv-hero-swiper h-full w-full">
      <div class="swiper-wrapper vv-hero-swiper-wrapper">

        <!-- Sliders -->
         {
          sliders.filter(s => s.enabled).map((slider) =>
          <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div
                class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end"
              >
                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">
                    <div
                      class="mb-1 flex flex-wrap gap-1 text-accent lg:mb-2 font-bold uppercase"
                    >
                      <div>{slider.date}</div>
                    </div>

                    <h2
                      class="mb-4 text-2xl font-bold leading-none tracking-tight sm:text-3xl md:mb-5 md:text-4xl md:leading-none lg:text-5xl lg:mb-7 lg:leading-none text-white xl:text-[62px]"
                    >
                      <a
                        href={slider.url}
                        class="hover:opacity-80 transition-opacity duration-300"
                      >
                        {slider.title}
                      </a>
                    </h2>

                    <div class="flex gap-3">
                      <ul class="flex gap-3">
                        <!-- DISCORD BUTTON -->
                        <li class="md:flex-1">
                          <a
                            href={slider.discord}
                            target="_blank"
                            class="relative flex h-12 w-12 items-center justify-center text-xs text-white transition-colors md:h-12.5 md:w-12.5 bg-social-discord hover:bg-social-discord/90"
                          >
                            <svg class="h-4 w-4" fill="currentColor">
                              <use
                                xlink:href="/assets/img/social-icons.svg#discord"
                              ></use>
                            </svg>
                          </a>
                        </li>
                        <!-- DISCORD BUTTON -->
                      </ul>

                      {
                        slider.url && (
                          <a
                            href={slider.url}
                            class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90"
                          >
                            Read More...
                          </a>
                        )
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class={"absolute inset-0 -z-10 bg-[url('" + slider.image + "')] bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110"}
            >
            </div>

            <div
              class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"
            >
            </div>
          </div>
        </div>
          )
         }
        <!-- Sliders -->
        
      </div>
    </div>
    <!-- Banner Content -->

    <!-- Pagination -->
    <div
      class="vv-hero-swiper-pagination js-vv-hero-swiper-pagination absolute !right-2 sm:!right-4 xl:!-right-16 top-1/2 !left-auto -translate-y-1/2 !bottom-auto z-20 flex !w-[34px] flex-col items-end gap-0.5"
    >
    </div>

    <div
      class="flex xl:flex-col absolute z-10 right-0 xl:-right-16 bottom-0 justify-center gap-y-4"
    >
      <button
        class="js-vv-hero-swiper-btn-prev flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent"
      >
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="/assets/img/str1/sprite.svg#arrow-left-pixel-alt"
          ></use>
        </svg>
      </button>
      <button
        class="js-vv-hero-swiper-btn-next flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent"
      >
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="/assets/img/str1/sprite.svg#arrow-right-pixel-alt"
          ></use>
        </svg>
      </button>
    </div>
    <!-- Pagination -->
  </div>
</div>
